.game-collection-list {
    margin: 0 auto;
    width: 100%;
}

.jacobs-games {
    display: flex;
    justify-content: center;
}

.jacobs-games-image {
    width: 100%;
    max-width: 55rem;
    height: auto;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding-bottom: 4rem;
    background-color: grey;
    background-image: url("../images/background-image-3.png");
    background-image: url("../images/background-image-3.png"), linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.game-info {
    width: 80%;
    background-color: white;
}

.form-control {
    display: flex;
    justify-content: center;
}

.form-control-label {
    padding-left: 1rem;
}

.radio-button-label {
    padding: 0;
    font-size: 100px;
}

@media screen and (min-width: 600px) {
    .game-collection-list {
        max-width: 75%;
    }
}