.modal-image {
    max-width: 90%;
    max-height: 50rem;
}

.modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.title {
    margin-bottom: 2rem;
    width: 95%;
}

.icon-button {
    background-color: red;
}